.button {
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    width: 153px;
    height: 32px;
    border-radius: 5px;
    border: none;
    background-color: $main-color;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    &_promo {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }

    &_consultation {
        width: 303px;
        height: 58px;
        font-size: 16px;
    }

    &_catalog {
        width: 135px;
        height: 44px;
        font-size: 14px;
    }

    &_disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
