.title {
    color: #0D0D0D;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px; 

    &_con {
        color: #FFF;
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        text-transform: uppercase;
        text-align: justify;
        margin-bottom: 8px;
    }

    &_con1 {
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
    }
}