.title {
    color: #0D0D0D;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px; 
    text-transform: uppercase;
    &_con {
        color: #FFF;
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        text-transform: uppercase;
        text-align: justify;
        margin-bottom: 8px;
    }

    &_cat {
        font-weight: 400;
        line-height: 45px;
    }
}