.consultation {
    min-height: 680px;
    padding: 100px 0 124px 0;
    background: url("../img/bg2.png") lightgray 50% / cover no-repeat;

    &__descr {
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        margin-bottom: 36px;
    }
}