.footer {
    height: 630px;
    position: relative;

    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 68px 60px 68px;
    }

    &__addr {
        margin-bottom: 36px;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        color: #fff;
        text-align: center;
    }

    &__phone {
        display: block;
        text-decoration: none;
        color:#ffffff;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        margin-bottom: 38px;
        &:hover {
            color: gray;
        }
    }

    &__social-item {
        width: 53px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}