.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0, .56);

    &_none {
        display: none;
    }
}

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 382px;
    min-height: 403px;
    background-color: #F2F2F2;
    padding: 38px 40px 40px 40px;

    &__subtitle {
        color: #0D0D0D;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }

    &__descr {
        color: #0D0D0D;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
    }

    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 41px;
        line-height: 21px;
        color: $main-color;
        cursor: pointer;
    }

    &_mini {
        min-height: 140px;
    }

    .error {
        border: 1px solid red;
    }

    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}

.modal_show {
    display: block;
}

// #consultation, #order, #thanks {
//     display: none;
// }